#img-article-1 {
    background-image: url("article billets.jpg");
}

#img-article-2 {
    background-image: url("article programme.jpg");
}

#img-article-3 {
    background-image: url("article coca cola.jpg");
}

#img-article-4 {
    background-image: url("article goodies.jpg");
}