body {
    margin: 0;
    font-family: var(--font);
}

* {
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--color3);
}


/* Variables */

:root {
    /* Polices */
    --font: 'Roboto Condensed', sans-serif;
    --hfont: 'Bebas Neue', 'Roboto Condensed', sans-serif;

    /* Couleurs */
    --color1: #F5D696;
    --color2: #F2AE4D;
    --color3: #D38A31;
    --color4: #984E26;
    --color5: #431313;
}

/* Sections et titres */

section {
    margin: 25px;
}

h2 {
    text-align: center;
    font-family: var(--hfont);
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Boutons et liens */

.btn, .a {
    display: inline-block;

    text-align: center;

    text-decoration: none;
    font-size: 1.25em;

    color: inherit;

    transition: .25s;
}

.btn:not(.ic-btn), .a {
    font-family: var(--hfont);
    letter-spacing: 1px;
}

.btn:not(.ic-btn):hover, .a:hover {
    letter-spacing: 2px;
}

.btn:not(.ic-btn):active, .a:active {
    letter-spacing: 0px;
}

.ic-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ic-btn:hover {
    padding-left: 10px;
    padding-right: 10px;
}

.btn--filled {
    padding: 10px;
    border: none;

    background-color: var(--color3);
}

.btn--filled:hover {
    background-color: var(--color2);
}

.btn--filled:active {
    background-color: var(--color1);
}

.a {
    border-bottom: solid transparent 2px;
    color: var(--color4);
}

.a:hover {
    border-bottom-color: var(--color4);
}


/* Menu */

.menu {
    z-index: 4;

    position: fixed;

    padding: 25px;
    box-sizing: border-box;

    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;

    background-color: var(--color4);

    overflow-y: auto;

    transition: .25s;
}

.menu--hidden {
    transform: translateX(-250px);
    opacity: 0;
    pointer-events: none;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu ul li {
    margin: 10px;
}

.menu a {
    color: white;
}

.menu a:hover {
    border-bottom-color: white;
}

.menu-background {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .25s;
}

.menu-background--hidden {
    pointer-events: none;
    opacity: 0;
}


/* En-tête */

.header {
    position: fixed;
    padding: 25px;
    width: 100vw;
    box-sizing: border-box;

    z-index: 2;

    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.header__top, .header__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-height: 512px) {
    /* La seconde ligne de l'en-tête est masquée si la hauteur du viewport est inférieure à 512px. */
    .header__bottom {
        opacity: 0;
        pointer-events: none;
    }
}
@media screen and (max-width: 450px) {
    /* La seconde ligne de l'en-tête est masquée si la largeur du viewport est inférieure à 450px. */
    .header__bottom {
        opacity: 0;
        pointer-events: none;
    }
}

.header .a, .header .btn {
    margin: 10px;
}

.header .btn:not(.ic-btn) {
    border: solid white 2px;
    padding: 5px;
}

.header .a {
    color: white;
}

.header .a:hover {
    border-bottom-color: white;
}


/* Affiche */

.cover {
    width: 100%;
    height: 100vh;

    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('img/background.jpg');
    background-size: cover;
    background-position: center;

    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: white;
}

.cover__red {
    font-size: 7.5em;
    margin: 25px;
    margin-bottom: 2.5vh;
    text-transform: uppercase;
    font-family: var(--hfont);
    letter-spacing: 7.5px;
    text-shadow: rgba(255, 255, 255, 0.5) 0 0 7.5px;
    font-weight: normal;
}

.cover__bottom {
    font-size: 2em;
    margin: 25px;
    font-family: var(--hfont);
    letter-spacing: 2.5px;
}

@media screen and (max-width: 768px) {
    .cover__red {
        font-size: 6em;
    }
}
@media screen and (max-width: 426px) {
    .cover__red {
        font-size: 4em;
    }

    .cover__bottom {
        font-size: 1.25em;
    }
}

.cover__red, .cover__bottom {
    animation: appearance .75s cubic-bezier(0.4, 0, 0.2, 1) .5s 1 normal both;
}

.cover__bottom {
    animation-delay: 1s;
}

@keyframes appearance {
    0% {
        opacity: 0;
        transform: translateY(25vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Présentation */

.introduction {
    margin: 50px;
    text-align: center;
}

.introduction p {
    font-size: 1.5em;
}

.introduction em {
    font-weight: normal;
    font-style: normal;
    font-family: var(--hfont);
    font-size: 1.75em;
}


/* Programmation "À l'affiche */

.programmation__ls-container {
    position: relative;
}

.programmation__ls {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    list-style: none;
    padding-left: 50px;
    padding-right: 150px;
}

.programmation__ls::-webkit-scrollbar {
    width: 0;
}

.programmation__ls a {
    width: 300px;
    height: 300px;
    margin: 25px;
    
    flex-shrink: 0;

    background-color: var(--color1);
    background-size: cover;
    background-repeat: no-repeat;

    border: none;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.programmation__ls a li {
    padding: 10px;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}

.programmation__ls-overflow {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.programmation__ls-overflow .ic-btn {
    font-size: 50px;
    width: fit-content;
    margin-left: 75px;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .programmation__ls {
        padding-left: 25px;
        padding-right: 75px;
    }

    .programmation__ls a {
        width: 150px;
        height: 150px;
        margin: 10px;
    }

    .programmation__ls-overflow {
        width: 75px;
        pointer-events: none;
    }
    
    .programmation__ls-overflow .ic-btn {
        display: none;
    }
}

.programmation__btn {
    margin: auto;
    display: block;
    width: fit-content;
}


/* Pied de page */

footer {
    background-color: whitesmoke;
    padding: 5px;
}

    /* Newsletter */
.newsletter {
    text-align: center;
}

.newsletter input[type="email"] {
    padding: 12px;
    font-size: 1em;
    border: solid 2px var(--color3);
}

.newsletter input[type="submit"] {
    margin: 10px;
}


    /* Partenaires */
.partenaires {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.partenaires__liste {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    list-style: none;
}

.partenaires__liste li {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
}

.partenaires__liste li a {
    margin: 10%;
    display: block;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.partenaires__boutons {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.partenaires__boutons .btn {
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .partenaires {
        flex-direction: column;
    }

    .partenaires__liste {
        width: 100%;
        height: 100px;
    }

    .partenaires__boutons {
        flex-direction: row;
        width: auto;
        justify-content: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 375px) {
    .partenaires__boutons {
        flex-direction: column;
    }
}


.redirection {
    display: flex;
    justify-content: center;
}

.redirection__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.redirection__grid .btn {
    margin: 5px;
    width: 250px;
}

@media screen and (max-width: 600px) {
    .redirection__grid {
        display: flex;
        flex-direction: column;
    }
}

    /* Menu tout en bas de la page */
.footer-menu {
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-menu ul li {
    margin: 10px;
}
