body {
    margin: 0;
    font-family: var(--font);
}

::selection {
    background-color: var(--color3);
}


/* Variables */

:root {
    /* Polices */
    --font: 'Roboto Condensed', sans-serif;
    --hfont: 'Bebas Neue', 'Roboto Condensed', sans-serif;

    /* Couleurs */
    --color1: #F5D696;
    --color2: #F2AE4D;
    --color3: #D38A31;
    --color4: #984E26;
    --color5: #431313;
}


/* Boutons */
.btn {
    padding: 10px;
    border: none;
    font-family: var(--hfont);
    background-color: var(--color3);
    color: black;
    text-decoration: none;
    font-size: 1.25em;
    letter-spacing: 1px;
}


/* En-tête */

.header {
    position: fixed;
    padding: 25px;
    width: 100vw;
    box-sizing: border-box;

    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.header__top, .header__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-height: 512px) {
    /* La seconde ligne de l'en-tête est masquée si la hauteur du viewport est inférieure à 512px. */
    .header__bottom {
        opacity: 0;
        pointer-events: none;
    }
}

.header__btn, .header__ic-btn, .header__ic-btn.material-icons, .header__a {
    font-size: 1.25em;
    color: inherit;
    margin: 10px;
    text-decoration: none;
    transition: .25s;
}

.header__ic-btn {
    background-color: transparent;
    border: none;
}

.header__btn, .header__a {
    font-family: var(--hfont);
    letter-spacing: 1px;
}

.header__btn {
    border: solid white 2px;
    padding: 5px;
}

.header__a {
    border-bottom: solid transparent 2px;
}

.header__btn:hover, .header__a:hover {
    letter-spacing: 2px;
}

.header__ic-btn:hover {
    padding-left: 10px;
    padding-right: 10px;
}

.header__a:hover {
    border-bottom: solid white 2px;
}

.header__btn:active, .header__a:active {
    letter-spacing: 0px;
}


/* Affiche */

.cover {
    width: 100%;
    height: 100vh;

    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('background.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: white;
}

.cover__red {
    font-size: 7.5em;
    margin: 25px;
    margin-bottom: 2.5vh;
    text-transform: uppercase;
    font-family: var(--hfont);
    letter-spacing: 7.5px;
    text-shadow: rgba(255, 255, 255, 0.5) 0 0 7.5px;
}

.cover__bottom {
    font-size: 2em;
    margin: 25px;
    font-family: var(--hfont);
    letter-spacing: 2.5px;
}

@media screen and (max-width: 768px) {
    .cover__red {
        font-size: 6em;
    }
}
@media screen and (max-width: 426px) {
    .cover__red {
        font-size: 4em;
    }

    .cover__bottom {
        font-size: 1.25em;
    }
}

.cover__red, .cover__bottom {
    animation: appearance .75s cubic-bezier(0.4, 0, 0.2, 1) .5s 1 normal both;
}

.cover__bottom {
    animation-delay: 1s;
}

@keyframes appearance {
    0% {
        opacity: 0;
        transform: translateY(25vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Présentation */

.introduction {
    margin: 50px;
}

.introduction p {
    text-align: center;
    font-size: 1.5em;
}

.introduction em {
    font-weight: normal;
    font-style: normal;
    font-family: var(--hfont);
    font-size: 1.75em;
}