#logo-partenaire-1 {
    background-image: url("RegionCentre.svg");
}
#logo-partenaire-2 {
    background-image: url("Indre-et-Loire_%2837%29_logo_2015.svg");
}
#logo-partenaire-3 {
    background-image: url("VilleTours.svg");
}
#logo-partenaire-4 {
    background-image: url("France_Bleu_Touraine.svg");
}