#art1 {
    background-image: url("Maneskin.jpg");
}

#art2 {
    background-image: url("Indochine.jpg");
}

#art3 {
    background-image: url("Phoenix.jpg");
}

#art4 {
    background-image: url("Orelsan.jpg");
}

#art5 {
    background-image: url("Last Train.jpg");
}

#art6 {
    background-image: url("MNNQNS.jpg");
}